*{
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
}

body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  transition:0.3s;
}

/* DARK MODE */
body.dark{
  background:#000;
  color:#fff;
}

/* LIGHT MODE */
body.light{
  background:#f2f2f2;
  color:#000;
}

/* MODE BUTTON */
.mode-btn{
  position:absolute;
  top:20px;
  right:20px;
  padding:8px 14px;
  border:none;
  border-radius:10px;
  font-size:20px;
  cursor:pointer;
}

/* CALCULATOR */
.calculator{
  width:320px;
}

#display{
  width:100%;
  height:100px;
  font-size:3rem;
  text-align:right;
  border:none;
  padding:20px;
  border-radius:20px;
}

/* DISPLAY COLORS */
body.dark #display{
  background:#000;
  color:#fff;
}
body.light #display{
  background:#e6e6e6;
  color:#000;
}

.buttons{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:15px;
  margin-top:20px;
}

button{
  height:70px;
  border:none;
  border-radius:50%;
  font-size:1.6rem;
  cursor:pointer;
}

/* NUMBERS */
body.dark button{
  background:#333;
  color:#fff;
}
body.light button{
  background:#d0d0d0;
  color:#000;
}

/* OPERATORS */
.operator{
  background:#ff9500 !important;
  color:#fff !important;
}

/* SPECIAL */
.special{
  background:#a5a5a5 !important;
  color:#000 !important;
}

/* ZERO */
.zero{
  grid-column:span 2;
  border-radius:35px;
}
